@import "tailwindcss";
@import "@heroui/styles"; 

:root {
  --light: #ffffff;
  --foreground: #171717;
  --bgColor: #f0f5f0;
  --primary:#05893e;
  --shadoColor:#ddd;
}

@theme{
  --color-cPrimary:var(--primary);
  --color-cForeground:var(--foreground);
  --color-cLight:var(--light);
  --color-shadoColor:var(--shadoColor);
  --color-bgColor:var(--bgColor);
}

html, body{
  scroll-behavior: smooth;
}