@import "tailwindcss";
@import "@heroui/styles"; 

:root {
  --light: #ffffff;
  --foreground: #171717;
  --primary:#05893e;
  --shadoColor:#ddd;
}

@theme{
  --color-cPrimary:var(--primary);
  --color-cForeground:var(--foreground);
  --color-cLight:var(--light);
  --color-shadoColor:var(--shadoColor);
}
